/*            Common CSS            */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  margin: 0;
  min-height: 10px;
  border-radius: 2px;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}
/* Separator */
#waybar .module {
  border-right: 2px solid #ffffff; /* Color del separador */
  padding-right: 5px;            /* Espaciado a la derecha */
  margin-right: 5px;             /* Espaciado entre módulos */
}

#waybar .module:last-child {
  border-right: none;             /* Elimina el separador del último módulo */
}

/* the whole window */
window#waybar {
  color: #fff4d2;
  background: #282828;
}

window#waybar.hidden {
  opacity: 1;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
	font-family: Hack Nerd Font Mono Regular;
	font-size: 15px;
	font-weight: 600;
	color: #202020;
	background: #202020;
	border: 3px solid #202020;
	border-radius: 3px;
}
#network,
#memory {
	font-family: Hack Nerd Font Mono Regular;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: 500;
	background: #202020;
	border-radius: 5px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  padding-right: 3px;
}

#custom-power{
  padding-right: 4px
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}
#workspaces button {
  color: #fbf1c7;
  padding: 0 2px;
  margin: 0px 2px;
  min-width: 18px;
}

#workspaces button:hover {
  background: #b16286;
}

#workspaces button.visible {
  background: #8ec07c;
}
#workspaces button.visible:hover {
  background: #8ec07c;
}
#workspaces button.active {
  background: #83a598;
}
#workspaces button.active:hover {
  background: #8ec07c;
}
#workspaces button.urgent {
  background: #ea6962;
}
/*            window                 */
#window {
  color: #d3869b;
}
/*            tray                 */
#tray {
  padding: 0 6px 0 6px;
}
/* Colors */
/* Red */
#battery.critical,
#pulseaudio.muted,
#temperature.critical {
  color: #cc241d;
}

/* Yellow  */
#disk,
#cpu,
#clock,
#battery.warning,
#cpu,
#temperature,
#custom-memory,
#clock,
#pulseaudio,
#backlight {
  color: #fadb2f;
}

/* Green */
#battery {
  color: #b8bb26;
}
